
    <h2>Welcome to Burch</h2>
    <img src="images/birch_header.jpg" alt="" />
    <p>
      Site Introduction - In the content links to products pages. Check out our new 
      line of Men's Scarves, perfect for winter time. Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit. Vivamus dapibus cursus nunc id 
      vestibulum. Aliquam. 
    </p>
    <p>
      Duis aute irure dolor in reprehenderit in voluptate velitesse cillum dolore eu 
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
      in culpa qui officia deserunt mollit anim id estlaborum Et harumd
      und lookum like Greek to me, dereud facilis est er expedit distinct Contact Us 
      to factor tum poen legum odioqueciviuda
    </p>
    <div class="social">
      <h3>Follow Burch</h3>
      <ul class="follow">
        <li class="padding_left"><a class="facebook " href="">Facebook</a></li>
        <li><a class="twitter" href="">Twitter</a></li>
        <li><a class="rss" href="">Rss</a></li>
      </ul>
    </div>
  
